:root {
    box-sizing: border-box;
    }
    *,
::before,
::after {
    box-sizing: inherit;
    }
body {
    background-color: #ffffff;
    font-family: lato;
    color: #406c75;
    margin: 0;
    }
/*body * + * {
    margin-top: 1.5em;
    }*/
    h1 {
        font-weight: 10;
        font-size: 40px; 
        margin-top: 0;
        
        
    }
    .logo {
        text-decoration: none;
        color:#c1e2f8 ;
    }
h2 {
    font-weight: 100;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    color: #ffffff;
}
a {
     text-decoration:none ;
}

h4 {
    color: #406c75;
}
h5 {
    font-weight: 10;
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    color: #ffffff;
}

.button {
    border: 1px solid white;
    background-color: #293f51;
    color: white;
    padding: 1.5em 2em;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 0.5em;
  }
  .button:hover {
      background-color: #ffffff;
      color: #293f51;
  }
  .register-btn{
      margin-left: 360px;
      margin-top: 2em;
      margin-bottom: 1.5em;
  }
    

    .container {
    max-width: 880px;
    margin: 0 auto;
    
    }
    .heading {
        background-color:#293f51 ;
        padding: 1.5em;
        width: 100%;
    }
    header {
        display: flex;
    }
    .menu > li > a{
        text-decoration: none;
        margin-left: 1em;
        color: #fff8cd;
    }
    .menu {
        list-style-type: none;
        display: flex;
    }


    .menu > li > a:hover{
        color:#406c75 ;
    }
    .align{
        margin-left: auto;
    }
    .date {
        text-align: end;
    }
    main {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: 1fr;
        grid-gap: 1.5em;
        max-width: 880px;
        margin-top: 1.5em; 
    }
    .images {
        object-fit: cover;
        border-radius: 0.5em;
        height: 20vh;
    }
    .text:hover {
          color:#141718;
    }
    footer {

        background-color: #293f51 ;
        padding: 1.5em;
        margin-top: 1.5em;
        margin-bottom: 0;
    }
    .footer {
        display: flex;      

    }

    /*SCHEDULE*/

.heading2{
    background-color: #c5e0bf;
    padding: 1.5em;
    
}
.headcolor{
    color:#293f51 ;
}

table, td {
    padding: 1em;
  }






  /*Register*/
  .register{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2em;
    max-width: 880px;
    margin-top: 1.5em; 
  }
  .form {
      margin-top: 1.5em;
  }
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 6px 0 25px;
    border: 1px solid #293f51 ;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    background-color: #648880;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer

  }